<h1>About crypto</h1>
<p>Crypto currency is digital currency that is going up and down in price every second.</p>
<p>this website tell u accurately how much they cost and if u type the ammount u have of 
each and what u paid it will tell u your profit or loss in proffit.</p>