<h1>harrison <b>crypto</b> currency!xd</h1>
<p><b>hi</b> i am making a websute!</p>

<%= @hello %>
<% @coins %>
<% for x in @coins %>
<% for coin in @my_coins %>
<% if coin == x["symbol"] %>
<b><%= x["name"] %>: $<%= x["price_usd"] %></b> <br>
Rank:<b><%= x["rank"]%></b> <br/><br/><br><br><br>
<% end %>
<% end %>
<% end %>